@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* reset_css */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

@font-face {
    font-family: font1;
    src: url(../fonts/MassenetBold-Bold.woff);
}

@font-face {
    font-family: font2;
    src: url(../fonts/MassenetSemiBold-Bold.woff);
}

body {
    background-color: #07070F;
}

.navbar .collapse ul li a {
    color: #fff;
}

.navbar {
    position: relative;
}

.navbar::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background: #fff;
    bottom: -26%;
}

.navbar-brand img {
    height: 70px;
    object-fit: contain;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.container-fluid {
    max-width: 1420px;
}

.collapse {
    margin-bottom: -5px;
    margin-left: 57px;
}

.header {
    height: 90vh;
    background: url('../img/header.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.header_content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.header_content .header_text h2 {
    color: #fff;
    font-family: font1;
    font-weight: bold;
    text-transform: uppercase;


}

.header_content .header_text h1 {
    color: #fff;
    font-family: font1;
    font-size: 28px;
    margin-bottom: 60px;
    margin-top: 60px;
    text-transform: uppercase;
}

.header_content .header_btn {
    margin-top: 40px;
}

.fa-solid {
    color: #FFF;
}

.header_content .header_btn button {
    border: 2px solid #FFE5B6;
    color: #FFE5B6;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
}

.header_content .header_btn span {
    color: #fff;
    font-size: 13px;
    border-bottom: 2px solid #fff;
    margin-left: 30px;
}

.nxt_btn {
    display: flex;
    align-items: center;
    width: 153px;
    position: relative;
    top: 49px;
    left: 75px;
}

.nxt_btn .br {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.nxt_btn span {
    background: #fff;
    position: absolute;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
}

.nxt_btn p {
    background: #fff;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
}

.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
}

.owl-item {
    width: 100%;
}


.item .owl_img img {
    aspect-ratio: 1;
    height: 350px;
    object-fit: cover;
}



.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}



.midsection_text h2 {
    color: #fff;
    margin: 30px 0;
}

.midsection .container::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #FFE5B6;
}

.footer_social {
    display: flex;
    flex-direction: column;
}

.hr {
    color: #fff;
    opacity: 1;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-width: 2px;
}

.silder-content span {
    color: #FFF;
    display: inline-block;
}

.silder-content span:nth-child(2) {
    margin-top: 10px;
}


.silder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.silder-content img {
    width: 123px !important;
    object-fit: contain;
}

.midsection_text p {
    color: #fff;
    font-family: "Inter", sans-serif;

}

.swiper-slide {
    background: none;
}

.midsection {
    background: url(../img/bg.png);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swip_img {
    height: 356px;
}



.footer_logo img {
    height: 65px;
    object-fit: contain;
}

.ft-cont p {
    color: #fff;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.footer_social img {
    width: 161px;
    object-fit: contain;
}

.footer_social span {
    color: #fff;
}

.footer_main {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.ft-logo {
    display: flex;
    justify-content: center;
}

.ft-logo img {
    width: 120px;
    object-fit: contain;
}



.owl-dots {
    display: block !important;
}


.owl-carousel .owl-img {
    height: 200px;
}


@media (max-width: 1199px) {

    .collapse {
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .midsection {
        height: 100%;
    }

    .header {
        height: 100%;
    }
}


@media (max-width: 992px) {
    .next {
        display: none !important;
    }

}

@media (max-width: 768px) {
    .silder-content span {
        font-size: 13px;
    }

    .ft-logo img {
        width: 79px;
        object-fit: contain;
    }

    .ft-cont p {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .header_text {
        text-align: center;
    }

    .header_btn {
        text-align: center;
    }
}

@media (max-width: 420px) {
    .footer_top {
        flex-wrap: wrap;

    }



    .ft-cont p {
        text-align: center;
    }

    .footer_main {
        flex-wrap: wrap;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ft-logo {
        margin-top: 20px;
    }
}

@media (max-width: 417px) {
    .navbar-brand img {
        height: 45px;
    }

    .midsection {
        margin-top: 20px;
    }

    .header_content {
        padding-top: 10px;
    }

    .footer_top {

        justify-content: center;
    }

    .footer_main {
        justify-content: center;
    }
}